@model SaborCajabambino.Models.Producto

@{
	ViewData["Title"] = "Edit";
}
<link href="~/css/editStylecss.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center">
	<div class="card shadow">
		<div class="card-header">
			<span class="badge bg-warning my-4 rounded d-flex justify-content-center">
				<h3>Editar Producto</h3>
			</span>
		</div>
		<div class="card-body">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="IdProducto" />
				<div class="form-group">
					<label asp-for="Nombre" class="control-label"></label>
					<input asp-for="Nombre" class="form-control" />
					<span asp-validation-for="Nombre" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Precio" class="control-label"></label>
					<input asp-for="Precio" class="form-control" />
					<span asp-validation-for="Precio" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Descripcion" class="control-label"></label>
					<input asp-for="Descripcion" class="form-control" />
					<span asp-validation-for="Descripcion" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Foto" class="control-label"></label>
					<input asp-for="Foto" class="form-control" />
					<span asp-validation-for="Foto" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IdCategoria" class="control-label">Categoría</label>
					<select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
					<span asp-validation-for="IdCategoria" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EsPreparado" class="control-label">¿Es preparado?</label>
					
					<select asp-for="EsPreparado" class="form-control" asp-items="ViewBag.EsPreparado">
						<option value="true">Sí</option>
						<option value="false">No</option>
					</select>
					<span asp-validation-for="EsPreparado" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Guardar" class="btn btn-primary" />
				</div>
			</form>
			<div>			
					<span class="badge badge-status bg-warning">
						<a asp-action="Index">Volver a la lista de Productos</a>
					</span>				
			</div>
		</div>
	</div>
</div>




@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
