html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f8f9fa;
    margin-bottom: 60px;
}

.navbar {
    background-color: #e66e49;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    
}
.navegador{
    margin-left:40px;
}

.nav-item:hover {
    background-color: #f0d699;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    border-radius: 10px;
}
.nav-item:hover a {
       color: black !important;
}


